/* using vw to px ratio 1 : 8 */

/* overall section ~start~ */
@font-face {
	font-family : MPLUS1p;
	src : url("M_PLUS_1p/MPLUS1p-Regular.ttf") format("truetype");
}

@font-face {
	font-family : MPLUS1p;
	src : url("M_PLUS_1p/MPLUS1p-ExtraBold.ttf") format("truetype");
	font-weight : bold;
}

html, body {
	padding : 0px;
	margin : 0px;
}

html {
	background-color : LightSlateGrey;
	font-family : MPLUS1p;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

body.no_scroll {
	overflow : hidden;
}

a {
	text-decoration: none;
}

.hidden {
	display : none !important;
}
/* The navigation bar */
#navbar {
	display : grid;
	overflow: hidden;
	background-color: #333;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	height : max(10vw, 80px);
	z-index : 2;
}

#nav_menu_group {
	grid-column : 1;
	grid-row : 1;
	width : 33.33vw;
}

#nav_menu:not(.menu_opened) {
	padding: max(1vw, 8px) max(1vw, 8px) max(1vw, 8px) max(2vw, 16px);
	content : url("icon/menu.png");
	width : max(8vw, 64px);
	height : max(8vw, 64px);
}

#nav_menu.menu_opened {
	padding: max(1vw, 8px) max(1vw, 8px) max(1vw, 8px) max(2vw, 16px);
	content : url("icon/cross.png");
	width : max(8vw, 64px);
	height : max(8vw, 64px);
}

#nav_setting {
	padding: max(1vw, 8px) max(2vw, 16px) max(1vw, 8px) max(1vw, 8px);
	content : url("icon/setting.png");
	width : max(8vw, 64px);
	height : max(8vw, 64px);
}

#nav_title {
	grid-column : 2;
	grid-row : 1;
	width : 33.33vw;
	color : #DFDFFF;
	text-align : center;
	font-size : 7vw;
}

#nav_control_group {
	grid-column : 3;
	grid-row : 1;
	width : 33.33vw;
	text-align : right;
}

#nav_to_top {
	padding: max(1vw, 8px) max(2vw, 16px) max(1vw, 8px) max(1vw, 8px);
	content : url("icon/to_top.png");
	width : max(8vw, 64px);
	height : max(8vw, 64px);
}

#search_section {
	margin-top : max(10vw, 80px);
}
/* overall section ~end~ */

/* menu section */
#menu_container {
	position : fixed;
	left : 0;
	top : max(10vw, 80px);
	height : calc(100% - max(10vw, 80px));
	width : 100%;
	background : rgba(30, 30, 30, 0.5);
}

#menu_pannel {
	left : 0;
	height : 100%;
	width : 75vw;
	background-color : DimGrey;
	font-size : 5vw;
	color : GhostWhite;
}

#menu2page_title {
	position : relative;
	top : 2vw;
	left : 2vw;
}

#menu2page_container {
	position : relative;
	top : 2vw;
}

.menu2page {
	margin : 1vw 4vw;
	padding : 1vw;
}

.menu2page.menu2page_selected {
	background-color : Grey;
}

#menu_line {
	position : relative;
	top : 1vw;
	margin : 4vw 2vw;
	border-top : 1vw solid Gainsboro;
}

#menu_bottom {
	position : absolute;
	bottom : 4vw;
	height : 30vw;
	width : 75vw;
}

#menu_info, #menu_setting {
	display : flex;
	margin : 2vw;
	align-items : center;
}

#menu_info_icon {
	position : relative;
	padding: 1vw;
	content : url("icon/info.png");
	width : 8vw;
	height : 8vw;
}

#menu_setting_icon {
	position : relative;
	padding: 1vw;
	content : url("icon/setting.png");
	width : 8vw;
	height : 8vw;
}

#popup_container {
	position : fixed;
	left : 0;
	top : max(10vw, 80px);
	height : calc(100% - max(10vw, 80px));
	width : 100%;
}

/* info section */
#information {
	top : 0;
	position : absolute;
	width : 100%;
	height : 100%;
	background-color : rgba(31, 31, 31, 0.5);
}

#info_defog {
	position : absolute;
	left : 50%;
	top : 50%;
	transform: translate(-50%, -50%);
	width : 70vw;
	height : 40vh;
	background-color : MediumPurple;
	color : Snow;
	font-size : 4vw;
	text-align : center;
	border: none;
	border-radius: 2vw;
}

#info_defog>div {
	position : absolute;
	bottom : 3vh;
	width : 100%;
	left : 50%;
	transform: translate(-50%, 0);
}

#info_defog>div>a {
	color : White;
	background-color : #1DA1F2;
	border: none;
	border-radius: 2vw;
	padding : 0.5vw 2vw;
	font-weight : bold;
}

/* setting section */
#setting {
	top : 0;
	position : absolute;
	width : 100%;
	height : 100%;
	background-color : rgba(31, 31, 31, 0.5);
}

#setting_defog {
	position : absolute;
	left : 50%;
	top : 50%;
	transform: translate(-50%, -50%);
	width : 70vw;
	height : 60vh;
	background-color : MediumPurple;
	color : Snow;
	font-size : 4vw;
	text-align : center;
	border: none;
	border-radius: 2vw;
}

#setting_display-private {
	justify-content: center;
}

#setting_button_container {
	position : absolute;
	bottom : 3vh;
	width : 100%;
	left : 50%;
	transform: translate(-50%, 0);
}

#setting_default, #setting_confirm {
	color : White;
	background-color : Indigo;
	border: 0.5vw solid White;
	border-radius: 2vw;
	padding : 0.5vw 2vw;
	font-weight : bold;
}

#setting_singer_display {
	position: absolute;
	top : 44.4vw;
	left : 49vw;
	font-size : 3vw;
}

/* slider switch from w3 school */
.toggle_switch {
	position: relative;
	display: inline-block;
	width: 12vw;
	height: 6.8vw;
	top : -4.5vw;
	left : 2vw;
}

.toggle_switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 6.8vw;
}

.slider:before {
	position: absolute;
	content: "";
	height: 5.2vw;
	width: 5.2vw;
	left: 0.8vw;
	bottom: 0.8vw;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(5.2vw);
	-ms-transform: translateX(5.2vw);
	transform: translateX(5.2vw);
}