/* overall section ~start~ */
@font-face {
	font-family : MPLUS1p;
	src : url("M_PLUS_1p/MPLUS1p-Regular.ttf") format("truetype");
}

@font-face {
	font-family : MPLUS1p;
	src : url("M_PLUS_1p/MPLUS1p-ExtraBold.ttf") format("truetype");
	font-weight : bold;
}

html, body {
	padding : 0px;
	margin : 0px;
}

html {
	background-color : LightSlateGrey;
	font-family : MPLUS1p;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

a {
	text-decoration: none;
}

.hidden {
	display : none;
}
/* The navigation bar */
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height : max(5vw, 60px);
  z-index : 2;
}

/* Links inside the navbar */
#navbar a {
  float: left;
  padding: max(0.5vw, 6px) max(1vw, 12px);
}

#nav_to_top {
	content : url("icon/to_top.png");
	width : max(4vw, 48px);
	height : max(4vw, 48px);
}

#main_content {
	margin-top : max(5vw, 60px);
}
/* overall section ~end~ */

/* inputs ~start~ */
#input_container {
	display : flex;
}

#input {
	width : 88vw;
	padding : 1vw 1vw;
	margin : 1.5vw 2vw;
	height : 6vw;
	font-size : 4.2vw;
}

#switch_container {
	justify-content: center;
}

#switch_container>#switch_method {
	content : url("icon/swap.png");
	width : 6vw;
	height : 6vw;
	margin-top : 1.5vw;
}

.singer_container {
	height : 7.5vw;
	font-size : 4.8vw;
	text-align : center;
	margin-bottom : 1.5vw;
}

.singer_select {
	display: inline-block;
	width : 28vw;
	border: none;
	border-radius: 2vw;
	margin: 0vw 1.2vw;
	background : DimGrey;
	color : LightGrey;
	text-align : center;
}

.sing_sel_2.selected {
	font-weight : bold;
	color : #FF9FAD;
	background-color : #7F313A;
}

.sing_sel_1.selected {
	font-weight : bold;
	color : #FDCCD3;
	background-color : #9911C9;
}

.sing_sel_0.selected {
	font-weight : bold;
	color : #C2CAF3;
	background-color : #2947CF;
}

.singer_select:not(.selected) {
	color : LightGrey;
}
/* inputs ~end~ */

/* song title ~start~ */
.song_name_container {
	padding : 0vw 1vw;
	margin : 1.5vw 1.5vw;
	text-align : center;
	display : flex;
	border : none;
	border-radius : 1.2vw;
	position : sticky;
	position : -webkit-sticky;
	top : max(5vw, 60px);
}

.song_name_container.odd_colour {
	background-color : LightYellow;
}

.song_name_container.even_colour {
	background-color : PeachPuff;
}

.song_rap{
	flex-grow: 1;
}

.song_name {
	font-weight : bold;
	font-size : 6vw;
}

.song_credit:not(.long_credit) {
	font-size : 3.2vw;
}

.song_credit.long_credit {
	font-size : 2.4vw;
}

.song_fold_icon:not(.closed) {
	content : url("icon/list_up.png");
	width : 32px;
	height : 32px;
	align-items : center;
	margin: 5px 5px 5px 0;
}

.song_fold_icon.closed {
	content : url("icon/list_down.png");
	width : 32px;
	height : 32px;
	align-items : center;
	margin: 5px 5px 5px 0;
}
/* song title ~end~ */

/* song entry ~start~ */
.entry_container {
	font-weight : bold;
	font-size : 3.6vw;
	padding : 1vw;
	margin : 1.5vw 3.2vw;
	border: none;
	border-radius: 0.8vw;
}

.entry_primary {
	display : flex;
}

.entry_date {
	flex-grow: 1;
	width : 34vw;
	margin : 0vw 2vw;
}

.entry_singer {
	flex-grow: 1;
	width : 38vw;
}

.mem_display {
	width : 18vw;
}

.entry_note {
	font-size : 2.7vw;
	margin : 0vw 2.5vw;
}
/* song entry ~end~ */
/* singer colour palette ~start~ */
/* kirara (4) cc : 5.14 */
.singer_4 {
	background-color : LightCoral;
	border-color : #670000;
}
.singer_4>a {
	color : #670000 !important;
}
.singer_4m {
	background-color : #670000;
	border-color : LightCoral;
}
.singer_4m>a {
	color : LightCoral !important;
}
/* momo (2) cc : 5.14 */
.singer_2 {
	background-color : LightPink;
	border-color : DarkMagenta;
}
.singer_2>a {
	color : DarkMagenta !important;
}
.singer_2m {
	background-color : DarkMagenta;
	border-color : LightPink;
}
.singer_2m>a {
	color : LightPink !important;
}
/* nia (1) cc : 11.86 */
.singer_1 {
	background-color : PaleTurquoise;
	border-color : DarkBlue;
}
.singer_1>a {
	color : DarkBlue !important;
}
.singer_1m {
	background-color : DarkBlue;
	border-color : PaleTurquoise;
}
.singer_1m>a {
	color : PaleTurquoise !important;
}

/* momokira (6) cc : 5.57 */
.singer_6 {
	background-color : #D98EED;
	border-color : Indigo;
}
.singer_6>a {
	color : Indigo !important;
}
/* kirania (5) cc : 5.39 */
.singer_5 {
	background-color : #991D1D;
	border-color : LightBlue;
}
.singer_5>a {
	color : LightBlue !important;
}
/* momonia (3) cc : 5.56 */
.singer_3 {
	background-color : LightBlue;
	border-color : DarkMagenta;
}
.singer_3>a {
	color : DarkMagenta !important;
}

/* petitcoco (7) cc : 6.55 */
.singer_7 {
	background-color : #6E24B7;
	border-color : #E0E7FF;
}
.singer_7>a {
	color : #E0E7FF !important;
}

/* yuco (9) cc : 7.52 */
.singer_9 {
	background-color : #FFC0F9;
	border-color : MediumBlue;
}
.singer_9>a {
	color : MediumBlue !important;
}
.singer_9m {
	background-color : MediumBlue;
	border-color : #FFC0F9;
}
.singer_9m>a {
	color : #FFC0F9 !important;
}
/* chui (12) cc : 4.76 */
.singer_12 {
	background-color : Gold;
	border-color : FireBrick;
}
.singer_12>a {
	color : FireBrick !important;
}
.singer_12m {
	background-color : FireBrick;
	border-color : Gold;
}
.singer_12m>a {
	color : Gold !important;
}
/* singer colour palette ~end~ */


/*
 *  to do
 *  contrast : 
 *   - singer selection
 *  
 *
 *
 */